.historial-container {
    width: 100%;
    margin-top: .8rem;
}
.today {
    color: #8E8E94;
    font-size: .7rem;
    margin-left: .6rem;
}
.historial-ul .historial-li:first-child {
    margin-top: 0.2rem;
}
.historial-li {
    padding-left: .6rem;
    height: 44px;
    width: 98%;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    border-radius: .5rem;
}

.historial-li p {
    color: #ECECF1;
    font-size: .8rem;
    white-space: nowrap;
}
.historial-li svg{
    height: 1rem;
    width: 1rem;
    color: #d9d9e3;
}
.historial-li:hover {
    background-color: #2a2b32;
}

