.top-disconect {
    display: flex;
    flex-direction: column;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
}
.title h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: #ECECF1;
}
.title h1 span {
    font-size: 2.5rem;
}
.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
.top-content svg {
    margin-bottom: 2.5rem;
    height: 5rem;
    width: 5rem;
    color: #ECECF1;
}
.problem-msg {
    width: 48rem;
    text-align: center;
    color: #ECECF1;
}

@media (max-width: 768px) {
    .problem-msg {
        width: 70%;
    }
}
