* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

a {
    text-decoration: none;
}
.app {
    display: flex;
    height: 100vh; /* Ajusta la altura de la aplicación al 100% del viewport */
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
}

.app-center {
    display: flex;
    flex-direction: column;
    background-color: #343541;
    width: 100%;
    height: 100vh;
    overflow-y: auto; /* Añade un desplazamiento vertical solo cuando sea necesario */
}

.app-main {
    height: 70%;
}
.app-footer {
    height: 12rem;
    width: 100%
}